/*Reset Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

/*Global Styles*/
/* Add styles specific throughout entire website */
p {
    font-family: 'Montserrat', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
}

/* Footer */
footer p {
    font-family: 'Montserrat', sans-serif;
}

/* Index/Landing Page styles */
.index {
    /* Add styles specific to the index page */
}


/* Form Page styles */
.form {
    /* Add styles specific to the form page */
}


/* About Page styles */
.about {
    h1{
        text-align: center;
    }
    .top_quote {
        text-align: center;
        font-size: 14pt;
    }
    .background_header{
        justify-content: center
    }
    .story {
        text-align: center;
        padding-block-end: 1cm
    }
    .team_container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto; 
        justify-content: center;
        align-content: center;
        text-align: center;
        padding-block-end: 1cm;
    }

    .board_container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows:auto auto auto auto;
        justify-content: center;
        align-content: center;
        text-align: center; 
        padding-block-end: 1cm;

    }
    .impact_container{
        display: grid;
        grid-template-rows: 100px ;
        grid-template-columns: 200px 200px 200px 200px 200px 200px;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 12pt;
        padding-block-end: 2cm;
    }
    .button{
        background-color: #D77028;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
        font-family: 'Montserrat', sans-serif;
        }
    .footer{
        text-align: center;
        font-size: 12pt;
        background: #345223;
    }
    .support{
        text-align: center;
    }
    p.footer{
        text-align: left;
        color: white;
    }
    }



/* Community Page styles */
/* Add styles specific to the community page */
/* Targeting Only the Community Page */

.community  {
    /* Styles for the header h1 on the community page */
}

.community main.grid {
    /* Styles for the main grid on the community page */
}

.community .sidebar-left {
    /* Styles for the left sidebar on the community page */
}

.community .sidebar-right {
    /* Styles for the right sidebar on the community page */
}

.community .newsletter {
    /* Styles for the newsletter section on the community page */
}


/* Trails Page styles */
.trails {
    /* Add styles specific to the trails page */
}


/*Media Queries*/
